{% extends 'main/base.html' %}
{% block content %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}" />
<script src="{% static 'main/js/modal.js'%}" defer></script>
{% endblock %}

<div class="content">
  <ul class="breadcrumbs">
    <li><a href="{% url 'main' %}">Головна</a>/</li>
    <li>{{category.name}}</li>
  </ul>
  <h1 class="title">{{ category.name }}</h1>
  <div class="categories">
    <img src="{% static 'main/images/dogs.webp' %}" alt="Doggy" />
    <ul class="list">
      {% for category in categories %}
      <li class="item">
        <a href="/category/{{ category.id }}">{{ category.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="products">
    {% for product in products %}
    <div class="product">
      <a href="{% url 'product_view' slag=product.id %}">
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img" />
        {% else %}
        <img
          src="{% static 'main/images/no-image.webp' %}"
          alt="{{ product.name }}"
          class="img"
        />
        {% endif %}
        <h3 class="name">{{ product.name }}</h3>
      </a>
      <p class="price">{{ product.price }} ₴</p>
      <button class="btn">Купити</button>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} {% block modals %}
<div class="bg">
  <div class="modal">
    <input class="input" type="text" placeholder="Номер телефона" value="+" />
    <button class="btn">Відправити</button>
  </div>
</div>
{% endblock %}
