{% extends 'main/base.html' %}
{% block content %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}" />
<link rel="stylesheet" href="{% static 'main/css/product_page.css' %}" />
<script src="{% static 'main/js/modal.js'%}" defer></script>
{% endblock %}


<div class="product_page">
  <ul class="breadcrumbs">
    <li><a href="{% url 'main' %}">Головна</a>/</li>
    <li>{{product.name}}</li>
  </ul>
  <div class="product_wrap">
      <div class="image">
    {% if product.img %}
    <img src="{{ product.img }}" alt="{{ product.name }}" class="img" />
    {% else %}
    <img
      src="{% static 'main/images/no-image.webp' %}"
      alt="{{ product.name }}"
      class="img"
    />
    {% endif %}
  </div>
  <div class="content_page">
    <h1 class="title">{{ product.name }}</h1>
    <p class="price">{{ product.price }} ₴</p>
    <button class="btn">Купити</button>
  </div>
  </div>

</div>
{% endblock %}

{% block modals %}
<div class="bg">
  <div class="modal">
    <input class="input" type="text" placeholder="Номер телефона" value="+" />
    <button class="btn">Відправити</button>
  </div>
</div>
{% endblock %}
